body {
    background-color: #4a4a4a
}

.tooltip {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    position: absolute;
    text-align:left;
    background-color:#fdd49e;
    border: solid;
    padding: 8px;
    /* visibility: hidden; */
    
}

.label {
    fill: white;
}

.legendTitle{
    fill: white;
}